@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap');

/* NAVBAR */

#navbar {
    font-family: Roboto, sans-serif;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 20px;
    transition: all 0.2s ease;
}

.sticky {
    background-color: rgba(255, 255, 255, 0.8) !important;
    padding: 10px 20px !important;
}

.nav-custom-link {
    font-weight: bold;
    color: #000000 !important;
    text-transform: uppercase;
}

.nav-custom-link:hover {
    color: #ffffff !important;
    background-color: #000000;
}

.color-white {
    color: #000000 !important;
}

.nav-btn-icon {
    color: #000000;
}

@media (max-width: 426px) {
    #navbar {
        padding: 5px 10px;
    }

    #nav-logo {
        font-size: 20px;
    }

    .sticky {
        padding: 2px 10px !important;
    }
}