@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap');

/* MAIN */

.main {
    font-family: Roboto, sans-serif;
    background-color: #FFFFFF;
    font-size: 16px;
}

/* MY LOGO */

.section-0 {
    height: 150px;
    padding: 0px;
}

.navbar-brand {
    left: 50%;
    transform: translate(-50%);
}

#nav-logo {
    font-size: 24px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bolder;
    position: absolute;
    top: 15px;
}

/* SECTION NO 5 */

.section-5 {
    padding: 00px 0px 0px 0px;
    background-color: #ffffff;
}

.work-gallery-row {
    padding: 0px 20px 0px 20px;
}

@media (max-width: 320px) {
    .section-5 {
        padding: 30px 0px;
    }

    .work-gallery-row {
        padding: 0px 10px 0px 10px;
    }
}

/* Masonry Grid */

.masonry {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 10px;
}

@media (max-width: 1440px) {
    .masonry {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1200px) {
    .masonry {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .masonry {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .masonry {
        grid-template-columns: repeat(1, 1fr);
    }
}

.masonry .grid {
    display: inline-block;
    margin-bottom: 16px;
    position: relative;
}

.masonry .grid:before {
    border-radius: 0px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.4s ease-in-out;
}

.masonry .grid:hover::before {
    background-color: rgba(255, 255, 255, 0.0);
}

.masonry .grid:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.0);
    transform: scale(1.02);
    transition: all 0.1s ease-in-out;
}

.masonry .grid img {
    width: 100%;
    border-radius: 0px;
}

.masonry .grid__title {
    font-size: 28px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
}

.masonry .grid__author {
    font-size: 14px;
    font-weight: 300;
}

.masonry .grid__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.masonry .grid__body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 30px 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.masonry .grid__tag {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    border-radius: 5px;
    padding: 4px 10px;
    margin-bottom: 5px;
}

.mt-auto {
    margin-top: auto;
}

.sec5-btn {
    font-family: Roboto, sans-serif;
    color: #FFFFFF;
    background-color: #000000;
    letter-spacing: 2px;
    padding: 10px 30px;
    border: none;
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}

.sec5-btn:hover {
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
}

.sec5-btn:active {
    transform: translateY(0px);
}

@media (max-width: 426px) {
    .sec5-btn {
        padding: 5px 18px;
        letter-spacing: 1px;
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .masonry .grid__body {
        padding: 20px 20px;
    }

    .masonry .grid__tag {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .sec5-btn {
        padding: 5px 15px;
        font-size: 10px;
    }
}

/* SECTION NO 6 */

.section-6 {
    padding: 70px 0px 100px 0px;
}

.section-6-inner {
    width: 90%;
    color: #000000;
}

.section-6-heading {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2;
}

.section-6-para {
    font-size: 16px;
    line-height: 1.8;
    margin-top: 30px;
}

.sec6-image {
    border-radius: 5px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}

.sec6-image:hover {
    transform: scale(1.02);
}

.section-6-button {
    margin-top: 40px;
}

.sec6-btn {
    font-family: Roboto, sans-serif;
    color: #000000;
    letter-spacing: 2px;
    cursor: pointer;
}

.sec6-btn:hover {
    color: #000000;
    text-decoration: none;
}

.sec6-btn-see-all {
    font-family: Roboto, sans-serif;
    color: #FFFFFF;
    background-color: #000000;
    letter-spacing: 2px;
    padding: 10px 50px;
    margin-top: 40px;
    border: none;
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}

.sec6-btn-see-all:hover {
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
}

.sec6-btn-see-all:active {
    transform: translateY(0px);
}

@media (max-width: 426px) {
    .section-6 {
        padding: 30px 0px 60px 0px;
    }

    .section-6-inner {
        width: 95%;
    }

    .section-6-heading {
        font-size: 28px;
    }

    .section-6-para {
        font-size: 14px;
        margin-top: 16px;
    }

    .section-6-button {
        margin-top: 25px;
    }

    .sec6-btn {
        font-size: 12px;
    }

    .sec6-btn-see-all {
        font-size: 12px;
        margin-top: 10px;
        padding: 5px 20px;
    }
}

@media (max-width: 320px) {
    .section-6 {
        padding: 10px 0px 40px 0px;
    }

    .section-6-heading {
        font-size: 23px;
    }

    .section-6-para {
        font-size: 12px;
    }

    .section-6-button {
        margin-top: 20px;
    }

    .sec6-btn {
        font-size: 10px;
    }

    .sec6-btn-see-all {
        font-size: 10px;
        margin-top: 0px;
        padding: 5px 15px;
    }
}