@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap');

/* MAIN */

.main {
    font-family: Roboto, sans-serif;
    background-color: #FFFFFF;
    font-size: 16px;
}

/* MY LOGO */

.section-0 {
    height: 150px;
    padding: 0px;
}

.navbar-brand {
    left: 50%;
    transform: translate(-50%);
}

#nav-logo {
    font-size: 24px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bolder;
    position: absolute;
    top: 15px;
}

/* SECTION NO 1 */

.section-1 {
    padding: 100px 0px 190px 0px;
}

.section-1-inner {
    color: #000000;
    display: flex;
    align-items: center;

}

.section-1-heading {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
}

.section-1-para {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 20px;
}

.sec1-image {
    border-radius: 0px;
    /*(box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);*/
    transition: all 0.2s ease-in-out;
}

.sec1-image:hover {
    transform: scale(1.02);
}

@media (max-width: 426px) {
    .section-1 {
        padding: 30px 0px 60px 0px;
    }

    .section-1-inner {
        width: 95%;
    }

    .section-1-heading {
        font-size: 28px;
    }

    .section-1-para {
        font-size: 14px;
        margin-top: 16px;
    }
}

@media (max-width: 320px) {
    .section-1 {
        padding: 10px 0px 40px 0px;
    }

    .section-1-heading {
        font-size: 23px;
    }

    .section-1-para {
        font-size: 12px;
    }
}

/* FOOTER */

.footer {
    padding: 50px 50px 30px 50px !important;
    background-color: #000000;
}

.section-footer-inner {
    color: #FFFFFF;
}

.footer-headline {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.footer-text {
    font-size: 15px;
}

.email {
    color: #FFFFFF;
    text-decoration: none;

}

.email:hover {
    color: #3c8e9c;
    padding-right: 20px;
    background-color: #FFFFFF;
}

.social-icons {
    color: #FFFFFF;
}

.social-icons:hover {
    color: #3c8e9c;

}

.footer-socials {
    font-size: 25px;
    padding-bottom: 20%;
}

.social-icons:not(:last-child) {
    margin-right: 15px;
}

.contact-form-div {
    background-color: #000000;
    font-family: Roboto, sans-serif;
    padding: 0px 0px 70px 0px;
}

#custom-input1,
#custom-input2,
#custom-input3 {
    color: #000000;
    letter-spacing: 2px;
    border-radius: 0%;
}

#custom-textarea {
    color: #000000;
    letter-spacing: 2px;
    border-radius: 0%;
}

#contact-custom-button {
    background-color: #ffffff;
    color: #000000;
    padding: 5px 30px;
    border-radius: 0%;
}

#contact-custom-button:hover {
    background-color: #3c8e9c;
    color: #ffffff;
}

@media (max-width: 768px) {
    .section-footer-inner {
        text-align: left;
    }

    .footer-socials {
        padding-bottom: 20%;
        font-size: 20px;
    }

    #contact-custom-button {
        padding: 5px 30px;
    }

    .form-button {
        text-align: left;
    }
}

@media (max-width: 426px) {
    .footer {
        padding: 50px 50px 30px 50px !important;
    }

    .section-footer-inner {
        width: 85%;
        padding-top: 70px;
    }

    .footer-socials {
        font-size: 20px;
    }

    #custom-input1,
    #custom-input2,
    #custom-input3 {
        font-size: 12px;
    }

    #custom-textarea {
        font-size: 12px;
        padding: 8px 0px 0px 12px;
    }
}